<!-- Top Bar -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:rgb(255, 255, 255);" [routerLink]="''">The RARAJ Spot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <div *ngIf="this.currIsAdmin() === true">
                    <div class="btn-group">
                        <div *ngIf="this.router.url != '/menu'" class="spacer"></div>
                        <a *ngIf="this.router.url != '/menu'" class="btn btn-primary rounded" [routerLink]="['']">Manage
                            Menu</a>

                        <div *ngIf="this.router.url != '/manageOrders'" class="spacer"></div>
                        <a *ngIf="this.router.url != '/manageOrders'" class="btn btn-primary rounded"
                            [routerLink]="['/manageOrders']">Manage Orders</a>

                        <div *ngIf="this.router.url != '/userManager'" class="spacer"></div>
                        <button *ngIf="this.router.url != '/userManager'" [routerLink]="'/userManager'"
                            class="btn btn-primary rounded" data-placement="top" data-original-title="userList">Manage
                            Users</button>

                        <div *ngIf="this.router.url != '/couponManager'" class="spacer"></div>
                        <a *ngIf="this.router.url != '/couponManager'" class="btn btn-primary rounded"
                            [routerLink]="['/couponManager']">Manage Coupons</a>

                        <div *ngIf="this.router.url === '/menu'" class="spacer"></div>
                        <button *ngIf="this.router.url === '/menu'"
                            (click)="this.dataTransfer.menu.productButtonManager(null, 'add')"
                            class="btn btn-primary rounded" data-placement="top" data-original-title="addProduct">Add
                            Product</button>

                        <div *ngIf="this.router.url === '/userManager'" class="spacer"></div>
                        <button *ngIf="this.router.url === '/userManager'"
                            (click)="this.userButtonManager(null, 'newUser')" class="btn btn-primary rounded"
                            data-placement="top" data-original-title="addProduct">Add User</button>
                    </div>
                </div>
            </li>
        </ul>


        <form class="form-inline my-3 my-lg-0">
            <!-- Show username in the navBar -->
            <div *ngIf="loggedIn() === true">
                <div class="pr-1">
                    <span class="rounded-sm" style="color:rgb(255, 255, 255);">Welcome {{currUser?.name}}!</span>
                    <div class="spacer"></div>
                </div>
            </div>

            <!-- Render user profile and logout if the user is logged in -->
            <div *ngIf="loggedIn() === true; else renderLogin">
                <div class="btn-group">
                    <div *ngIf="this.currIsAdmin() === false">
                        <div class="nav-item dropdown" *ngIf="this.router.url === '/check-out' || this.router.url ==='/payment' ">
                            <button type="button" id="userCouponsDropdown" class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                data-original-title="coupons" data-auto-refresh="true">Coupons</button>
                            <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButtonCoupon">
                                <a class="dropdown-item">
                                    <div class="card-table text-center">
                                        <table class="table table-striped table-light" aria-hidden="true">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Coupon Code</th>
                                                    <th scope="col">Coupon Discount</th>
                                                    <th scope="col">Coupon Expiration</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let coupon of coupon">
                                                    <td>{{coupon.code}}</td>
                                                    <td>{{coupon.discount*100}}%</td>
                                                    <td>{{coupon.expirationDate}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <div class="spacer"></div>
                        <button type="button" id="userProfileDropdown" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            data-original-title="profile">Profile</button>
                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="userProfileDropdown">
                            <a class="dropdown-item" href="http://localhost:4200\user-settings">User Settings</a>
                            <a class="dropdown-item" href="#" *ngIf="this.currIsAdmin() === false"
                                [routerLink]="['/manageOrders']">Orders</a>
                            <a class="dropdown-item" (click)="this.toggleDarkMode()">Dark Mode/Light Mode</a>
                            <!--On button click, change text to other mode-->
                        </div>
                    </div>

                    <!--Shopping cart implementation-->
                    <div class="spacer"></div>
                    <div *ngIf="currIsAdmin() === false" class="shop-cart dropdown">
                        <div *ngIf="this.router.url != '/check-out'">   
                        <button type="button" (click)="getCartItems()" id="updateTable"
                            class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" data-original-title="shop-cart">My Cart</button>
                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton"
                            onclick="event.stopPropagation()">

                            <!--Loop through products in cart-->
                            <table class="table table-striped text-center" id="cart-table" data-show-refresh="true"
                                data-auto-refresh="true" aria-hidden="true">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Product</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of this.currUser.cart">
                                        <td data-field="quantity"><a (click)="removeFromCart(product.id);">-</a>
                                            x{{product?.quantity}} <a (click)="addToCart(product);">+</a></td>
                                        <td data-field="price">${{(product?.price*product?.quantity).toFixed(2)}}</td>
                                        <td data-field="name">{{product?.name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--Checkout Menu-->
                            <a class="dropdown-item" href="http://localhost:4200/check-out">Checkout</a>
                        </div>
                    </div>
                    </div>
                    <div class="spacer"></div>
                    <button type="button" id="userProfile" class="btn btn-secondary rounded"
                        (click)="userButtonManager(null, 'logout')"  routerLink="/menu" 
                        data-original-title="logout">Logout</button>
                </div>
            </div>
            <!-- Render login button otherwise -->
            <ng-template #renderLogin>
                <!-- Login Button -->
                <button type="button" id="userLoginForm" class="btn btn-primary"
                    (click)="userButtonManager(null, 'login')" data-original-title="Login">Login</button>
            </ng-template>
            <!-- Padding between login button and search bar -->
            <div class="spacer"></div>
            <!-- Search Bar -->
            <input *ngIf="!this.currIsAdmin() && this.router.url === '/menu'" type="search"
                (ngModelChange)="this.dataTransfer.menu.searchProducts(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2" placeholder="products..." required>
        </form>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Login Modal -->
<div class="container" id="login-container">
    <div class="modal fade" id="loginScreenModal" tabindex="-1" role="dialog" aria-labelledby="loginScreenModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginScreenModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" data-show-refresh="true" aria-label="Close" id="loginClose"
                        (click)="this.invalidUser = false; this.loginIssue = ' '">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #tempUserForm="ngForm" (ngSubmit)="tempUserForm.resetForm()">
                        <div class="form-group">
                            <label for="name">Username</label>
                            <input type="text" name="username" ngModel #username="ngModel" class="form-control"
                                id="username" aria-describedby="Username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="email" name="password" ngModel #password="ngModel" class="form-control"
                                id="password" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                            <div *ngIf="this.invalidUser === true">
                                <div class="col-15 align-self-center ml-0">
                                    <p class="float-left">{{this.loginIssue}}</p>
                                </div>
                            </div>
                            <div class="col-6 align-self-center mr-0">
                                <!-- TODO figure out why tab doesn't cl;ose on new user -->
                                <button (click)="userButtonManager(null, 'newUser')" data-bs-toggle="modal"
                                    data-dismiss="modal" data-bs-dismiss="modal" type="button" id="login-close"
                                    class="btn btn-secondary" data-original-title="NewUser">New User</button>
                                <div class="spacer"></div>
                                <button (click)="onUserLogin(tempUserForm)" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- New User Modal -->
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newUserModalLabel">Create New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="this.invalidUser = false; this.loginIssue = ' '" id="newUserClose">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #newUserForm="ngForm" (ngSubmit)="onNewUser(newUserForm); newUserForm.resetForm()">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" ngModel name="username" class="form-control" id="username"
                                placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="text" ngModel name="password" class="form-control" id="password"
                                placeholder="Password" required>
                        </div>
                        <div class="modal-footer">
                            <div *ngIf="this.invalidUser === true">
                                <div class="col-2 align-self-center ml-0">
                                    <p>{{this.loginIssue}}</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="add-user-form" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button [disabled]="newUserForm.invalid" type="submit" class="btn btn-primary">
                                    New User</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User {{editUser?.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ngModel="{{editUser?.name}}" name="name" class="form-control" id="name"
                                aria-describedby="UserName" placeholder="Name">
                        </div>
                        <input type="hidden" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id"
                            placeholder="ID">
                        <div class="form-group">
                            <label for="email">Username</label>
                            <input type="email" ngModel="{{editUser?.username}}" name="username" class="form-control"
                                id="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="email">Password</label>
                            <input type="text" ngModel="{{editUser?.password}}" name="password" class="form-control"
                                id="price" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="email">Admin Status</label>
                            <input type="text" ngModel="{{editUser?.admin}}" name="admin" class="form-control"
                                id="admin" placeholder="admin">
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button (click)="onUpdateUser(editForm.value); editForm.resetForm()" data-dismiss="modal" class="btn btn-primary">
                                Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModelLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModelLabel">Delete User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete user {{deleteUser?.name}}?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <button (click)="onDeleteUser(deleteUser?.id)" class="btn btn-danger"
                            data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>