.error-page{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);    
}

.error-page.content{
    max-width: 600px;
    text-align: center;
}
.content h1{
    font-size: 20vw;
    line-height: 1em;
}

.content p{
    font-size: 1.2em;
    color: #857e7e;
}

.content h4{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    font-size: 2em;
}

.content.btns{
    margin: 20px 0;
    display: inline-flex;
}

body{
    overflow: hidden;
    background: -webkit-repeating-linear-gradient(#71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6,
    #71b7e6,#71b7e6,#71b7e6,#71b7e6,#71b7e6,#71b7e6, #b98acc,#71b7e6,#71b7e6,#71b7e6, #b98acc);
    height: 100vh;
    bottom: 30px;
    background-size: 90vh;
    
}


.content .btns a{
    font-size: 1.2vw;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 3px solid #69a6ce;
    color: #69a6ce;
    font-weight: 5000;
    padding: l00px 100px;
    border-radius: 100px;
    text-transform: uppercase;
}

.content .btns a:hover{
    background-color: #69a6ce;
    color: #fff;
}